
/*Basic style*/
* {
    padding: 0;
    margin: 0;
    border: 1px solid red; /* I use this to check borders, spacing and everything.*/
    font-family: 'Roboto', "Helvetica Neue", sans-serif;
}

#mainWrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* Use repeat if many columns needed*/
    grid-row-gap: 20px;
}

.gridForSections { /*We can use section ID`s to edit every section as we want*/
    grid-column: 1/end; 
    text-align: center;
}





/*Kareem code*/



































































































/*Emils code*/

/*This will set one page size 100% of viewport*/
/*THIS IS NOT WORKING SMALLER SCREEN SIZES
#section4, #section5, #section6 {
    height: 100vh;
}*/

#section4 h3, #section5 h3, #section6 h3 {
    grid-column: 1/3;
    text-align: left;
    border: 5px blue solid;
}

/*Background image just fo testing*/
.rigaA1, .ammanA1, #amman2Cards {
    background-image: url(../img/test.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

/*As 5 cards in row are in two sections, same style will be for both cards rows*/
#rigaCards, #ammanCards {
    display: grid;
    grid-template-columns: repeat(5, 2fr); /* Use repeat if many columns needed*/
    margin: 35px 25px 35px 25px;
    grid-gap: 50px;
    grid-template-rows: minmax(250px, auto);
}


#riga2Cards {
    display: grid;
    grid-template-columns: repeat(3, 2fr); /* Use repeat if many columns needed*/
    grid-template-rows: repaet(2, minmax(150px auto));
    margin: 35px 25px 35px 25px;
    grid-gap: 50px;
    text-align: left;
}

#amman2Cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Use repeat if many columns needed*/
    grid-template-rows: 400px;
    margin: 35px 25px 35px 25px;
    grid-gap: 50px;
    text-align: left;
    align-items: center;
    padding-left: 100px;
}

#amman2cardContent button{
    padding: 10px 30px;
    margin: 10px 0px;
    font-size: 20px;
}

.sec6content {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Use repeat if many columns needed*/
    grid-template-rows: repeat(2, minmax(200px, auto));
    margin: 35px 25px 35px 25px;
    grid-gap: 50px;
}

.rigaA2 img, .sec6Card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




















/*Roxi code*/
