/*Basic style*/

* {
    padding: 0;
    margin: 0;
    border: 1px solid red;
    /* I use this to check borders, spacing and everything.*/
    font-family: 'Roboto', "Helvetica Neue", sans-serif;
}

#mainWrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* add rows for each section */
    height: 100%;
    /* Use repeat if many columns needed*/
    grid-row-gap: 20px;
}


/*Kareem code*/

.introSection {
    display: grid;
    background-color: lightblue;
    grid-column: 1/end;
}

#Card-Content {
    display: flex;
    flex-direction: column;
    padding: 0;
    border: none;
}

#logo {
    width: 45px;
    height: 45px;
}

.signUpCard {
    background-color: white;
}


/* End of intro section */

.exploreSection {
    background-color: blueviolet;
    grid-column: 1/end;
}

.apartmentsSection {
    background-color: bisque;
    grid-column: 1/end;
}


/*Emils code*/


/*Roxi code*/